@import './variable';

//***CSS page Menu***//

.components-menu {
    padding: 100px 0 84px;
    background: url('../assets/image/page-menu-components-back.png') repeat;

    .components-menu-head {
        margin-bottom: 100px;

        h1 {
            font-size: 48px;
            font-weight: 600;
            line-height: 64px;
            letter-spacing: 0.96px;
        }
    }

    .components-menu-list {
        .components-menu-item {
            margin-bottom: 35px;
            border-radius: 20px;
            cursor: pointer;
            width: calc(25% - 30px);

            &:first-child, &:nth-child(3) {
                margin-top: 45px;
            }

            &:nth-child(4n){
                .components-menu-image {
                    &:before { 
                        left: 4px;
                        top: -4px;
                    }
                }
            }

            &:nth-child(4n+1){
                .components-menu-image {
                    &:before { 
                        left: -4px;
                    }
                }
            }

            &:nth-child(4n+2){
                .components-menu-image {
                    &:before { 
                        left: -4px;
                    }
                }
            }

            &:nth-child(4n+3){
                .components-menu-image {
                    &:before { 
                        left: 4px;
                    }
                }
            }

            .components-menu-image {
                position: relative;
                img {
                    position: relative;
                    z-index: 2;
                    border-radius: 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $primary;
                    border-radius: 20px;
                    top: 4px;
                    z-index: 1;
                }
            }

            .components-menu-name {
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                padding: 20px 42px;
                z-index: 3;
                text-align: center;
                background: linear-gradient(0deg, #000, transparent);
                border-radius: 0 0px 20px 20px;
                overflow: hidden;
                transition: all 0.5s ease;

                p {
                    color: #FFF;
                    font-family: $font-Playfair;
                    font-size: 30px;
                    font-weight: 500;
                    opacity: 0;
                    line-height: 50px; 
                    transform: translateY(100%);
                    transition: all 0.5s ease;
                }
            }

            &:hover {
                .components-menu-name {
                    opacity: 1;
                    p {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}


//***Responsive Page Menu***//
@include desktop {
    .components-menu { 
        .components-menu-list  {
            .components-menu-item {
                width: calc(100%/3 - 20px);

                .components-menu-name {
                    opacity: 1;
                    p {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
@include tablet {
    .components-menu { 
        .components-menu-list  {
            .components-menu-item {
                width: calc(100%/2 - 10px);

                &:nth-child(3) {
                    margin-top: 0;
                }
            }
        }
    }
}

@include mobile {
    .components-menu { 
        .components-menu-head {
            margin-bottom: 60px;

            h1 {
                font-size: 32px;
                line-height: 1.5;
            }
        }

        .components-menu-list  {
            .components-menu-item {
                width: 100%;
                margin-top: 15px !important;

                &:nth-child(4n) {
                    .components-menu-image {
                        &:before {
                            left: -4px;
                            top: -4px;
                        }
                    }
                }

                &:nth-child(4n+1) {
                    .components-menu-image {
                        &:before {
                            left: 4px;
                            top: -4px;
                        }
                    }
                }

                &:nth-child(4n+2) {
                    .components-menu-image {
                        &:before {
                            left: -4px;
                            bottom: -4px;
                        }
                    }
                }

                &:nth-child(4n+3) {
                    .components-menu-image {
                        &:before {
                            left: 4px;
                            bottom: -4px;
                        }
                    }
                }
            }
        }
    }

}